<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
		Electroder
	</title>
  </head>
  <body>
	<h1>Electroder</h1>
	<main>
		{{{body}}}
	</main>
	<footer>
		CS546 Final Project: Electroder by James Fining, Devesh Jain, Priyanka Dassani, and Gopi Miyani
	</footer>
	<script src="/public/form.js"></script>
  </body>
</html>
