<!DOCTYPE html>
<html>
<style>
span{
  font-size: 25px;
  color: #ffff;
  background-color: #2881DB;
  padding: 10px;

}
div{
  font-size: 25px;
  color: #ffff;
  background-color: #2881DB;
  padding: 50px;
}
</style>
<script>
$(document).ready(function(){
  $("#backtohome").click(function(){
    window.location.href='/';
  });
});
</script>
<body>
<span>Welcome : {{getUser.username}} Your profile is Completed following is your details<br></span>
<div>
         <li>   Email:    {{getAccount.email}} </li>
          <li>  Phone:   {{getAccount.contact_number}} </li>
           
<div>
<button class="w3-btn w3-blue" id="backtohome" onclick="window.location.href= '/user'">Back to Home</button></p>
</body>
</html>