<!DOCTYPE html>
<html>
<head>

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src = "../../routes/login.js" type="text/javascript"></script>
</head>
<body>
<form method="POST" action="/user/profile">
  <h2 class="w3-text-blue">Registration form</h2>
  <p>
  <label class="w3-text-blue"><b>User Name</b></label>
  <input class="w3-input w3-border" id="uname"  name="uname" type="text" required></p>
  <p>
  <label class="w3-text-blue"><b>Password</b></label>
  <input class="w3-input w3-border"  id="upass" name="pass" type="password" minlength="8" required></p>
  <p>
  <button class="w3-btn w3-blue" id="regForm" >Complete profile</button></p>

</form>
</body>
</html>